.container{

}
.servicios{
    
}
.servicios .tab-content{
    border: 1px solid #DDD;
    background: #FFF;
    border-top: 0;
}
.contenedor-calendario{
    background: #FFF;

}
.guardar-anuncio{
    margin-top: 19px;
}
.contenedor-anuncio{
    border: 1px solid #c8c8c8;
    height: 139px;
    margin-top: 26px;
}
.boton-guardado p{
    width: 100%;
    margin-top: 90px;
    border: 1px solid #c8c8c8;
}
.contenedor-noche{
    overflow: hidden;
}
.precio h1{
    margin-top: 0;
    border-bottom: 1px dotted #d1d1d1;
    margin-bottom: 30px;
    padding: 5px 0;
}
.contenido-calendario {
    margin-top: 30px;
}
.button-reservalo {
    margin-top: 10px;
    height: 65px;
}
.descripcion-servicios{
    margin-top: 20px;
}
.lista-evaluacion{
    margin-top: 20px;
}
.espacio1{
    margin-top: 15px;
} 
.tab-pane{
    padding-top: 10px;
}   
.unstyled li{
    padding-top: 20px;
}
.panel-titulo{
    padding-top: 20px;
}
.contenido-comentarios1{
    border-top: none;
}
.contenido-comentarios2{
    border-top: 1px solid #edeff4;
    padding-top: 22px;
}