.columna-derecha{
    margin-top: 20px;
}
.servicios .tab-content{
    border: 1px solid #DDD;
    background: #FFF;
    border-top: 0;
}
.panel-default{
    background: #FFF;

    margin: 0;
    margin-bottom: 10px;
}
.guardar-anuncio{
    margin-top: 19px;
}
.contenedor-anuncio{
    border: 1px solid #c8c8c8;
    height: 139px;
    margin-top: 26px;
}
.boton-guardado p{
    width: 100%;
    margin-top: 90px;
    border: 1px solid #c8c8c8;
}
.contenedor-noche{
    overflow: hidden;
}
.precio h1{
    margin-top: 0;
    border-bottom: 1px dotted #d1d1d1;
    margin-bottom: 11px;
    padding: 5px 0;
}
.contenido-calendario {
    padding: 0;
}
.button-reservalo {
}
.descripcion-servicios{
    margin-top: 20px;
}
.lista-evaluacion{
    margin-top: 20px;
}
#servicios ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
}
#servicios ul li{
    list-style: none;
    
    width: 33%;
    float: left;
    padding: 8px 0px;
    font-weight: bold;
}
.espacio1{
    margin-top: 15px;
} 
.tab-pane{
    padding-top: 10px;
}   
.unstyled li{
    padding-top: 20px;
}
.panel-titulo{
    padding-top: 0px;
}
.contenido-comentarios1{
    border-top: none;
}
.contenido-comentarios2{
    border-top: 1px solid #edeff4;
    padding-top: 22px;
}

.mapaContainer, .calendarioContainer {
    min-height: 470px;
    display: none;
    padding: 10px;
    border: 1px solid #dddddd;
    border-top: none;
    background: #FFF;
}

#mapa {
    width: 100%;
    height: 450px;
}

.calendarioContainer > div {
    height: auto;
}

.calendarioContainer p {
    text-align: justify;
}

#calendar {
    width: 100%;
    height: auto;
}

#calendar-legend > div {
    float: left;
    margin-left: 10px;
}

#calendar-legend > div:first-child {
    margin-left: 0;
}

div.leyenda {
    margin-top: 2px;
    width: 32px;
    height: 15px;
    border: 1px solid #dddddd;
    margin-right: 5px;
}

.leyenda.disponible {
    background-color: green;
}

.leyenda.no-disponible {
    background-color: red;
}

.leyenda.anterior {
    background-color: #dddddd;
}

.sugerencia-picture {
    width: 100%;
    height: 85px;
    border-radius: 4px;
    border: 1px solid;
}

.distancia {
    color: #89DBFF;
}

#cercanos .row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

#cercanos .row:first-child {
    padding-top: 0;
}

#cercanos .row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.flexslider .slides img{
    display: block;
    height: 445px;
    margin: 0 auto;
    width: auto;
}
.flex-control-thumbs li{
    width: 9.5%;
    float: left;
    margin: 0;
    overflow: hidden;
    margin-bottom: 3px;
    margin-right: .5%;
    height: 35px;
}
.flexslider .slides > li{
    overflow: hidden;
}
.contenedor-llegada .form-control[readonly]{
    cursor: pointer;
    padding: 5px;
}
@media (max-width: 600px){
    .flexslider .slides img{
        height: 375px;
    }
}
@media (max-width: 450px){
    .flexslider .slides img{
        height: 325px;
    }
}
@media (max-width: 380px){
    .flexslider .slides img{
        height: 275px;
    }
}
@media (max-width: 320px){
    .flexslider .slides img{
        height: 200px;
    }
}
@media (max-width: 320px){
    .flexslider .slides img{
        height: 150px;
    }
}