h2{
    margin: 0;
    font-size: 21px; padding-left: 6px; font-weight: bold; 
    color: #444444; text-align: center; display: block;  
    padding-bottom: 5px; 
    padding-top: 5px;
    border-bottom: 1px solid #E7E7E7;
    
}
.body-content.home {
margin-top: -20px;
}
.banner-home {
height: 164px;
background-image: url(../img/banner-home.png);
}
h1{
	padding: 6px;
	font-size: 27px;
	position: absolute;
	background: rgba(255, 255, 255, 0.68);
	width: 99.5%;
	margin: 0;
	top: 5px;
	font-family: 'Shadows Into Light Two', cursive;
	left: 5px;
}
.complejos_header{
	position: relative;
	width: 98%;
	margin: 0 auto;
}
.main_image_agroturismo{width: 100%;
margin: 0 auto;
display: block;}
ul{list-style: none;margin:0;padding: 0}
.complejo_details{overflow: hidden;}
.flexslider{padding: 0px;border:0;}
.flexslider img {max-height: 300px;}
.flexslider ol {
    display: none;
}
.complejos_list .complejo_item{
	margin-top: 5px;
	/*padding-bottom: 10px;*/  position: relative; background-color: #FCFBF7; 
	border-radius: .3em; box-shadow: 0 0 5px #888;  
	margin-bottom: 1em;
}
.flex-control-thumbs li {
	width: 16.16%;
	margin-bottom: 5px;
	margin-right: .5%;

}.complejo_container{
	overflow: hidden;
	margin-top: 10px;
}
.panel-body{
	padding: 0
}

.complejo-descripcion {
    text-align: justify;
    min-height: 100px;
    border-right: 1px solid #dedede;
    padding-top: 5px;
}

a.precios-complejo {
    font-size: 1.2em;
    font-weight: normal;
    color: #337492;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.centered > * {
    vertical-align: middle;
}

.complejo-disponibilidad-precios {
    margin-top: 15px;
}

