h2{
    margin: 0;
    font-size: 21px; padding-left: 6px; font-weight: bold; 
    color: #444444; text-align: center; display: block;  
    padding-bottom: 5px; 
    padding-top: 5px;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 5px;
}
h1{
	padding: 5px;
	margin:5px;
	font-size: 28px;
}
ul{list-style: none;margin:0;padding: 0}
.complejo_details{
	overflow: hidden;
}
.flexslider{padding: 0px;border:0;}
.complejos_list .complejo_item{
	margin-top: 5px;
	padding-bottom: 10px;  position: relative; background-color: #FCFBF7; 
	border-radius: .3em; box-shadow: 0 0 5px #888;  
	margin-bottom: 1em;
}
.flex-control-thumbs li {
	width: 16.16%;
	margin-bottom: 5px;
	margin-right: .5%;

}.complejo_container{
	overflow: hidden;
	margin-top: 10px;
}
.panel-body{
	padding: 0
}