
table.tarifas-calendar {
    width: 100%;
    border: 1px solid #DEDFDE;
    background-color: #DEDFDE;
    font-size: 9px;
}

table.tarifas-calendar td, table.tarifas-calendar th {
    
    border: 1px solid #DEDFDE;
}

table.tarifas-calendar .first {
    
    font-size: 11px;
}

td.first {
    color: red;
}

.center {
    text-align: center;
}

.green {
    background-color: #008000;
}

.red {
    background-color: #FF0000;
}

