.contenedor-datos{
margin-left: 145px;
margin-top: 31px;
}
.form-inline{
padding-top: 20px;

}
.form-inline button{
margin-top: 70px;
}

.botones button{
	margin-top: 21px;
}
.botones button2{
margin-top: 13px;
width: 100px;
}
.contenido-llegada h3{
margin-top: 0px;
}
