@import "../bootstrap-glyphicons.less";
body{
    font-family: Arial;
    background: #FFF;
}
h1, h2, h3, h4 {
font-family: 'Ubuntu Condensed', sans-serif;
font-weight: bold;
color: #2f7493;
}
.wrapper{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
}
.container-liquid {
    padding: 0 15px;
    margin: 0 auto;
}
.checkbox-inline.more-checkbox{
    padding-left: 0;
}
.panel-default{
    margin: 0px;
}
.checkbox-inline.more-checkbox a{
    padding: 0 5px;
}
#blocker
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
}

#blocker div
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 2em;
    margin: -1em 0 0 -2.5em;
    color: #fff;
    font-weight: bold;
    font-size: 33px;
}

/* ============ HEADER ============= */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #00b3ff;
}
.navbar-inverse {
    border-color: #004A6B;
    background: #555657;
    border-radius: 0;
    border: 0;
    margin-bottom: 5px;
    background-image: url('../img/grey_wall.png'); background-size: 500px;
}
.navbar-inverse .navbar-nav > li:hover > a{
    background: #2f7493;
    color:#FFF; 
}
.header_container .header_enlaces_sociales{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.header_container .header_title h1{
    margin: 0;
    margin-left: 10px;
    margin-top: 2px;
}
.header_container .header_title h1 a{
    color: #FFF;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 49px;
}
.result-list-container .mix{
    /*opacity: 0;
    display: none;*/
}
#resultados .carousel-caption{
    text-align: left;
}
#resultados .carousel-caption .book-it{
    margin-bottom: 10px;
}
.btn-group.separate-group img{
    display: block;
    margin: 0 auto;
}
.btn-group.separate-group > .btn {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    margin-bottom: 5px;
}
.btn-group.separate-group > .btn:first-child{
    margin-right: 10px;
}
.home .checkbox-inline{
    margin-right: 10px;
}
.home .checkbox-inline + .checkbox-inline{
    margin-left: 0;
}
.body-content.home{
}
a{color:#2f7493}
.body-content{

    max-width: 1233px !important;
    margin: 0 auto;

    margin-top: 0px;

    background: #f7f7f7;  

    box-shadow: 0px 0px 3px #000;

    padding-bottom: 20px;

    margin-top: -10px;

    padding-top: 15px; 

}
.logo-title{
    color: #FFF !important;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 31px;
    padding: 0;
    line-height: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.logo-title img{
    width: 157px;
    
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #FFF;
background-color: #337492;
}
/* ========= FOOTER =========== */
.footer_container{
    background-image: url('../img/grey_wall.png'); background-size: 500px;

}
.btn-newsletter{
    border-color: #585853;
    background-color: #3f3f3a;
    color: white;
}
.btn-newsletter:hover{
    color: #d4d4d4 !important;
}
footer.bs-footer{
    margin-top: 0px;
    color: #868686;
    padding-bottom: 0px;
    text-shadow: 0 1px 1px #000;
}
footer .nav .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
    border-bottom: 4px solid white;
    border-top: 0;
    text-shadow: 0 1px 1px #000;
    margin-right: 3px;
}
footer .nav .caret:hover {

}
footer .footer-top{
    padding: 0 15px;
    padding-bottom: 15px; background-size: 500px;
}
footer .footer-bottom{
    padding: 0 15px;

    background: rgba(0, 0, 0, 0.38);
    border-top: 1px solid #969696;
}
footer .footer-bottom .row{
    padding-top: 3px;
    background-size: 18px;
}
footer .footer-top{

}
footer .contact .address {
    background: url(../img/icon-address.png) no-repeat 0 0;
}
footer .contact .phone {
    background: url(../img/icon-phone.png) no-repeat 4px 2px;
}
footer .contact .email {
    background: url(../img/icon-email.png) no-repeat 0 4px;
}
footer .contact {
    float: left;
    width: 100%;
    padding: 0;
}
footer .contact li {
    float: left;
    font-size: 11px;
    list-style: none;
    margin: 0 24px 5px 0px;
    padding: 0 0 0 24px;
    color: white;
}
footer .contact li a {
    color: white;
}
.footer_social .icon-facebook {
    background: url(../img/social_fb.png) 0 0 no-repeat;
}
.footer_social .icon-twitter {
    background: url(../img/social_twitter.png) 0 0 no-repeat;
}
.footer_social .icon-vimeo {
    background: url(../img/social_vimeo.png) 0 0 no-repeat;
}
.footer_social .icon-rss {
    background: url(../img/social_rss.png) 0 0 no-repeat;
}
footer .footer_social a{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 0 6px 6px;
    overflow: hidden;
    text-indent: -400px;
}
footer .footer_social a:hover{
    background-position: bottom;
}
footer .footer-top h3{
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 15px;
    margin: 15px 0;
    color: white;
}
footer .footer-bottom-inner{
    border-top: 1px solid #585853;
}
footer .footer-bottom p{
    line-height: 18px;
    font-size: 12px;
    margin: 0;
    padding: 25px 0;
    color: white;
}
footer .navbar-nav{
    float: right;
    padding: 25px 0;
    margin: 0;
}
footer .navbar-nav > li{
    float: left !important;
}
footer .navbar-nav > li > a{
    color: white;
    font-size: 12px;
    padding: 0;
    padding-left: 15px;
    line-height: 18px;
}
footer .navbar-nav > li > a:hover, footer .navbar-nav > li > a:focus{
    background: transparent;
    text-decoration: underline;
}
.margin-top-10{
    margin-top: 10px;
}
.newsletter label{
    color: white;
}
/* ============ END FOOTER ============*/
#header-slider .carousel-inner>.item>img, #header-slider .carousel-inner>.item>a>img {
    display: block;
    /*height: 400px;*/
    margin: 0 auto;
    width: 100%;
}

#header-slider .carousel-control.right{
    background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.0001)),to(rgba(0,0,0,1)));
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,1) 100%));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0.0001) 0,rgba(0,0,0,1) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,1) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
}
#header-slider .carousel-control.left{
    background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,1)),to(rgba(0,0,0,0.0001)));
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,1) 0),color-stop(rgba(0,0,0,0.0001) 100%));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,1) 0,rgba(0,0,0,0.0001) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,1) 0,rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
}
.delimiter {
    clear: both;
}
.home #mapa{
}
#details-map-location{
    width: 100%;
    height: 600px;
    border-right: 2px solid #7c90a6;
}
.main-right-container .dl-horizontal dt{
    text-align: left;
    text-transform: uppercase;
    color: #999999;
    line-height: 34px;
    font-size: 12px;
}
.main-right-container .dl-horizontal{
    margin-bottom: 0;
}
.filters-row{
    padding-top: 15px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
}
.filters-row .bootstrap-select{
    margin-bottom: 0 !important;
}
.bootstrap-select.btn-group .btn .caret{
    top: 50%;
    margin-top: -2px;
}
#dateStart input, #dateEnd input{
    border: 0;  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 15px;
    width: 100%;
}
#dateStart .add-on, #dateEnd .add-on{
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -10px;
}
.filters-row .filter-inputs{
    width: 25% !important;
    display: inline-block;
    position: relative;
    padding: 0;
}
.filters-row #slider-range{
    width: 76%;
    margin-bottom: 5px;
}
.filters-row range-prices-content label{
    font-weight: 400;
}
.range-prices-content{
    width: 76%;
}
.range-prices-content p{
    margin-bottom: 0;
}
.range-prices-content p.pull-right{
    text-align: right;
}
.phone_contact{
    font-size: 26px;
    color: #FFF;
}

#slider-range.ui-slider-horizontal .ui-slider-handle {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0px 2px #e2e2e2;
    -moz-box-shadow: 0 0px 2px #e2e2e2;
    box-shadow: 0 0px 2px #e2e2e2;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d4d4d4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#d4d4d4));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#d4d4d4 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#d4d4d4 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#d4d4d4 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d4d4d4',GradientType=0 );
}
#slider-range.ui-slider-horizontal .ui-slider-range{
    background: #03658d; /* Old browsers */
    background: -moz-linear-gradient(top, #03658d 0%, #4cc3ef 65%, #74ceed 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03658d), color-stop(65%,#4cc3ef), color-stop(97%,#74ceed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #03658d 0%,#4cc3ef 65%,#74ceed 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #03658d 0%,#4cc3ef 65%,#74ceed 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #03658d 0%,#4cc3ef 65%,#74ceed 97%); /* IE10+ */
    background: linear-gradient(to bottom, #03658d 0%,#4cc3ef 65%,#74ceed 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03658d', endColorstr='#74ceed',GradientType=0 ); /* IE6-9 */
}
.clearfix{
    clear: both;
}
.more-filters{
    margin-bottom: 15px;
}
.result-list-container .carousel .item img{
    max-height: 300px;
    width: 100%;
}
.result-list-container .carousel .item .carousel-caption{
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(7,10,11,0.6) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(7,10,11,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99070a0b', GradientType=0);
    border-width: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 10px 15px;
}
.result-list-container .carousel .item .carousel-caption p{
    margin-bottom: 0;
    text-align: left;
    -webkit-box-shadow: 0 0 0 transparent,0 0 0 #000;
    box-shadow: 0 0 0 transparent,0 0 0 #000;
    text-shadow: 0 -1px 1px #000;
    font-size: 12px;
    font-weight: 600;
}
.result-item{
    margin-bottom: 10px;
    /*border: 1px solid #dddddd;*/
}
.comments-icon{
    background: url("../img/comments.png") center no-repeat;
    background-size: contain;
    padding: 10px;
    position: absolute;
    bottom: 5px;
    color: #000;
    right: 15px;
}
.add-to-wishlist{
    background: url("../img/heart_icon.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    color: #000;
    left: 15px;
    z-index: 99999;
    width: 35px;
    height: 30px;
    cursor: pointer;
}
.add-to-wishlist.active{
    background: url("../img/heart_icon_hover.png") center no-repeat;
    background-size: contain;
}
#main_filters_container{
    position: absolute;
    top: 195px;
    background: rgba(0, 0, 0, 0.62);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    left: 30%;
    width: 554px;
    padding: 0px 0px;
}
#main_filters_container h4{
    color: #FFF;
    font-family: 'Della Respira', serif;
    font-size: 21px;
}
#main_filters_container .datepicker{
    position: relative;
}

#main_filters_container .col-sm-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.panel-default > .panel-heading {
    color: #FFF;


    background: #555657;







    border-color: #DDD;
    padding: 5px 5px;
    border: 0;
}
.breadcrumb{
    
    background: #FFF;
    margin-bottom: 10px;
    border: 1px solid #ECECEC;
}
.panel-default.panel-success > .panel-heading{
    background: #139B00;
}
.navbar-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.panel-default > .panel-heading h1{
    color: #FFF;

    font-size: 18px;
}
.carousel-control.left, .carousel-control.right{
    background:none;
}
/*Preloader*/
.bubblingG {
text-align: center;
width:80px;
height:50px;
margin: 0 auto;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #000000;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

}
/*Preloader*/
/*End ajax loader*/

/*  =================================================================== */
@media (min-width: 1200px){
    .container.full {
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .container.full {
        max-width: 100%;
    }
}
@media (min-width: 768px){

    .container.full {
        max-width: 100%;
    }
    .navbar-inverse .navbar-nav > li > a{
        padding-top: 33px;
        padding-bottom: 33px;
    
        color: #F8F8F8;
}
}
@media (max-width: 575px){
    .header_container{
        height: 100px;
    }
}
@media (max-width: 768px){
    .filters-row .filter-inputs {
        width: 96% !important;
        display: inline-block;
        position: relative;
        margin: 5px 2% !important;
    }
    .filters-row #slider-range{
        width: 96%;
        margin: 0 0 5px 2%;
    }
    .range-prices-content p.pull-right,  .range-prices-content p.pull-left{
        margin-left: 2%;
    }
}
@media (max-width: 768px){
    .range-prices-content p.pull-right{
        float: left !important;
    }
}